.square {
  list-style: none;
  float: left;
  height: 100px;
  line-height: 100px;
  width: 100px;
  border: 5px solid black;
  background-color: gray;
  font-size: 60px;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.square:hover {
  background-color: yellow;
  cursor: pointer;
}

.square:active {
  background-color: white;
}

li {
  float: left;
}

ul.group {
  margin: 0;
  width: 400px;
  padding: 0;
}

.ttt {
  /*height: 1000px;*/
  width: 330px;
  margin: 0 auto;
  border: 5px solid black;
  position: relative;

}

h1 {
  font-size: 96px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
}

footer {
  padding-top: 40px;
  font-size: 48px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  font-family: papyrus;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
